.label-wrp {
  position: relative;
  line-height: size(18px);
}

.checkbox {
  position: relative;
  color: $color-nobel;
  cursor: pointer;
  transition: color $trans-default;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: size(19px);
    height: size(19px);
    top: calc(50% - #{size(9.5px)});
    left: size(-34px);
    border: 1px solid $color-nobel;
    border-radius: 2px;
    background: none;
    background-size: fill;
    background-position: 70% 50%;
    transition: background-color $trans-200, border-color $trans-200;

    @include vp-767 {
      background-position: 50% 50%;
    }
  }

  & a {
    transition: color $trans-default;
    font-weight: 500;
  }

  & a:hover {
    color: $color-nobel;
  }
}

input[type="checkbox"]:checked + label::before {
  background: url("../img/sprite/icon-tick.svg");
  background-color: $color-school-bus-yellow;
  background-size: size(12px) size(10px);
  background-position: center;
  background-repeat: no-repeat;
  border-color: $color-school-bus-yellow;
}

input[type="checkbox"]:focus + label::before {
  border-color: $color-tangerine-yellow;
}
