.overlay {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background-color: $color-default-black-50;
  cursor: pointer;
  z-index: 15;
  transition: opacity $trans-default,
    visibility $trans-default;

  &.is-active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
